<%= form_for(@url) do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @url.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

              <ul>
                <% @url.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :url %><br>
          <%= f.text_field :url, class: 'form-control' %>
        </div>
      </div>
      <div class="panel-footer">
        <%= f.submit class: 'btn pull-right btn-primary' %>
      </div>
    </div>

<% end %>
