<%= form_for(@status) do |f| %>
    <div class="panel panel-default">
      <div class="panel-body">
          <% if @status.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

              <ul>
              <% @status.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :style %><br>
            <%= f.select(:style, [
                ['Default', 'btn-default'],
                ['Primary', 'btn-primary'],
                ['Success', 'btn-success'],
                ['Info', 'btn-info'],
                ['Warning', 'btn-warning'],
                ['Danger', 'btn-danger'],
                ['Link', 'btn-link'] ], {}, { :class => 'form-control' }) %>
          </div>
      </div>
      <div class="panel-footer">
        <%= f.submit class: 'btn pull-right btn-primary' %>
      </div>
    </div>
<% end %>
